* {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

#logo img {
  width: 150px;
  height: auto;
  margin-left: 2rem;
  
}

#ul {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 12pt;
  margin-top: 50px;
  list-style: none;
  
}

.menus {
  text-decoration: none;
  color: black;
  display: inline;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
  align-items: flex-start;
}

header {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
}

.hero-sec {
  display: flex;
  height: 100vh;
}

.slider {
  width: 100%;
  height: 80vh;

  margin-left: 20rem;
  top: 0;
}

#slider-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.header {
  display: flex;
  justify-content: flex-start;
  gap: 680px;
}

.header-images {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
  width: 30%;

}

.header-images h2 {
  font-size: 20pt;
  margin-bottom: 1rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-images p {
  font-size: 10pt;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-pics {
  display: flex;
  margin-top: 2rem;
  gap: 20px;
}

.header-images img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn {
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: Arial;
  color: #ffff;
  font-size: 13px;
  background: #d93434;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  margin-left: 7rem;
  margin-top: 2rem;
}

.btn:hover {
  background: #d1cdd1;
  text-decoration: none;
}

.hero-section {
  display: flex;
  gap: 40px;
  padding-right: 4rem;
}

.About {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5rem;
}

.About h3{
  font-size: 17pt;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30pt;
  color: red;
  opacity: 60%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.About h2{
  margin-bottom: 2rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.About p{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.About h4{
  font-size: 12pt;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 60%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.recipe {
  width: 50%;
  display: flex;
  gap: 20px;
}

.recipe img {
  width: 300px;
  height: 200px;
}

.waakye {
  width: 50%;
  margin-top: 4rem;
  
}

.waakye img {
  width: 60%;
  margin-left: 10rem;
  border-radius: 5%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px;

}

.our-menu img {
  width: 100px;
  height: 100px;
}

.our-menu-img {
  display: flex;
  gap: 10px;
}

.our-menu-texts {
  padding-top: 2rem;
}

.our-menu-texts h4,p {
font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.section {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 5rem;
  height: 100vh;
}



.section h3 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30pt;
  color: red;
  opacity: 60%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  
}

.footer {
  /* max-width: 1664px; */
  background-color: #000000;
  margin: auto;
  height: 50vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}


.ul {
  list-style: none;
}

.footer h4 {
  color: rgba(255, 0, 0, 0.651);
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25pt;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 2rem;
  padding-left: 7rem;

}

.footer-menus ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.footer-menus p {
  color: white;
}

.footer-logo {}

.footer-logo img {
  width: 200px;
  margin-top: -3rem;

}

.footer-line {
  height: 1px;
  width: 85%;
  background-color: grey;
  margin-left: 6rem;
}

.copyright-text {
  color: white;
  margin-top: 2rem;
  margin-left: 6rem;

}